.result-container {
    background-color: rgb(92, 61, 250);
    color: rgb(183, 172, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 1rem;
    width: 50%;
    height: 100%;

    .note-circle {
        background: linear-gradient(to bottom, rgb(74, 35, 204), rgb(92, 61, 250));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        width: 12rem;
        height: 12rem;

        .note {
            display: flex;
            flex-direction: column;
            font-weight: bold;
            font-size: 5rem;
            margin: 0px;
            color: white;

            span {
                font-size: large;
                color: rgb(126, 111, 255);
                margin: 0px;
            }
        }


    }

    .great {
        font-size: 2rem;
        color: white;
    }

    p {
        text-align: center;
        color: rgb(211, 214, 255);
        width: 80%;
    }
}

.great-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1rem;
}

@media (max-width: 416px) {
    .result-container {
        padding-top: 1rem;
        width: 100%;
        border-radius: 0 0 1rem 1rem;
    }
}