.summary {
    background-color: white;
    color: rgb(183, 172, 255);
    border-radius: 1rem;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;

    .summary-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        width: 80%;
    }

    h2 {
        color: rgba(54, 48, 72, 0.9);
        display: flex;
        margin: 0px;
        width: 80%;
    }

    .data-summary {
        border-radius: 0.5rem;
        display: flex;
        justify-content: space-around;
        gap: 2rem;
        width: 100%;

        .data-front {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            img {
                width: 20px;
                height: 20px;
            }
        }

        .data-note {
            color: black;

            span {
                color: rgb(162, 157, 164);
            }
        }
    }

    button {
        background-color: rgba(54, 48, 72, 0.9);
        outline: none;
        border: none;
        width: 80%;
        height: 10%;
        border-radius: 2rem;
        color: white;
        font-size: 1rem;
        transition: background-color 150ms;

        &:hover {
            background-color: rgb(92, 61, 250);
        }

    }
}